<nav #navBar
  class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
<img src="./assets/images/freshcart-logo.svg" alt=" fresh cart logo">
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
     


      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
       
        <li class="nav-item d-flex gap-3  align-items-center me-3">

          <i class="fab fa-instagram text-danger fs-4"></i>
          <i class="fab fa-facebook text-primary fs-4"></i>
          <i class="fab fa-twitter text-info fs-4"></i>
          <i class="fab fa-youtube text-danger fs-4"></i>
          

</li>
<li class="nav-item align-items-center px-2">
  <a class="nav-link" routerLinkActive="active-link" routerLink="/login">Login <i class="fa-solid fa-right-to-bracket fs-3"></i></a>
</li>
 
<li class="nav-item align-items-center">
  <a class="nav-link" routerLinkActive="active-link" routerLink="/register">Register <i class="fa-solid fa-registered fs-3"></i></a>
</li>

       
       
      </ul>
     
     
    </div>
  </div>
</nav>
